{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>Pupper Portal</h1>
  <p class="lead">Your gateway to man's best friend.</p>
  <p> If you are indifferent about any of the fields, leave them blank!</p>
</form>

<h3> Let's get it started! </h3>

<form method="POST" action="/button">
<p>1. How big do you want your dog to be?<BR>
  <input type="checkbox" name="size" value="large">Large<BR>
  <input type="checkbox" name="size" value="medium">Medium <BR>
  <input type="checkbox" name="size" value="small">Small<BR>
</p>

<p>2. Are you allergic to dogs? <BR>
  <input type="radio" name="allergic" value="yes">Yes<BR>
  <input type="radio" name="allergic" value="no">No<BR>
</p>

<p>3. How active do you want your dog to be? <BR>
  <input type="checkbox" name="active" value="very_active" >Very Active<BR>
  <input type="checkbox" name="active" value="somewhat_active">Somewhat Active<BR>
  <input type="checkbox" name="active" value="not_very_active">Not Very Active<BR>
</p>

<p>4. How trainable do you want your dog to be? <BR>
  <input type="checkbox" name="trainable" value="eager_to_please">Eager to Please<BR>
  <input type="checkbox" name="trainable" value="medium_trainable">Medium Trainable<BR>
  <input type="checkbox" name="trainable" value="independent">Independent<BR>
</p>

<p>5. Do you have other dogs? <BR>
  <input type="radio" name="others" value="yes">Yes<BR>
  <input type="radio" name="others" value="no">No <BR>
</p>

<p>6. Do you care if your dog sheds? <BR>
  <input type="radio" name="shed" value="yes">Doesn't matter<BR>
  <input type="radio" name="shed" value="occasional">Occasional shedding<BR>
  <input type="radio" name="shed" value="no">No shedding<BR>
</p>

<p>7. Do you have kids? <BR>
  <input type="radio" name="kids" value="yes">Yes<BR>
  <input type="radio" name="kids" value="no">No <BR>
</p>

<p>8. Do you live in an apartment? <BR>
  <input type="radio" name="apartment" value="yes">Yes<BR>
  <input type="radio" name="apartment" value="no">No <BR>
</p>

<p>9. How protective do you want your dog to be? <BR>
  <input type="checkbox" name="protective" value="yes">A guard dog<BR>
  <input type="checkbox" name="protective" value="no">Friendly with strangers <BR>
</p>

<p>10. How often will you groom your dog? <BR>
  <input type="checkbox" name="groom" value="occasional">Occasionally<BR>
  <input type="checkbox" name="groom" value="weekly">Weekly <BR>
  <input type="checkbox" name="groom" value="daily">Daily <BR>
</p>

<button type="submit">Find me a puppy!</button>
</form>


</div>
{% endblock %}
